target/
*.class
.idea/
*.iml
.vscode/
drivers/
.DS_Store
Thumbs.db

terraform-ecs/.terraform/
terraform-ecs/*.tfstate
terraform-ecs/*.tfstate.backup
terraform-ecs/terraform.tfvars

terraform-eks/.terraform/
terraform-eks/*.tfstate
terraform-eks/*.tfstate.backup
terraform-eks/terraform.tfvars
# Vagrant runtime state
vagrant/.vagrant/


# Vagrant runtime state
vagrant/.vagrant/

# Vagrant runtime state
vagrant/.vagrant/
